<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <form action="/login" method="post">

        <div>
            <label for="name" >Name:</label>
            <input type="text" name="Name" id="name">
        </div>
        <br>
        <div>
            <label for="password">Password:</label>
            <input type="text" name="Password" id="password">
        </div>
        <br>
        <div>
            <label for="login">Click Here to Login: </label>
            <input type="submit" value="Login" id="login"> <!-- when you triger your button button type should alwyas submit and value -->
                </div>
    </form>

</body>
</html>